resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

serviceMonitor:
  enabled: true
  defaults:
    labels:
      release: prometheus-stack
  targets:
    - name: sretech-org
      url: https://sretech.org
      module: http_2xx
      interval: 5m
    - name: usadaconnect
      url: https://usadaconnect.usada.org
      module: http_2xx
      interval: 5m