prometheus:
  prometheusSpec:
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    additionalScrapeConfigs:
      - job_name: 'k6'
        metrics_path: /metrics
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            regex: k6
            action: keep

grafana:
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - grafana.local
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'k6'
          orgId: 1
          folder: 'k6'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/k6
  dashboards:
    k6:
      k6-load-testing:
        gnetId: 2587
        revision: 3
        datasource: Prometheus